.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

@media screen and (max-width: 576px){


  #lezioni .row > .left, #lezioni .row > .right{
  float: none;
  }

  #steps .row > .left, #steps .row > .right, #steps .row > .central{
    float: none;
    margin-left: 120px;
    }

    #steps h1{
      margin-left: 180px;
    }

  #lezioni, #why{
   background-color: rgba(255, 255, 0, 0.158);
  }

  h1{
    text-align: left;
    margin-left: 120px;
  }

  #lezioni .row{
    margin-left: 30px;
  }

  #why .row > .first, #why .row > .second, #why .row > .third{
    width: 56%;
  }

  #why h1{
    margin-left: 170px;
  }

}

@media screen and (min-width: 577px){

  #lezioni .row > .left, #lezioni .row > .right{
    float: right;
    }

    #lezioni{
      background-color: rgba(204, 204, 204, 0.418);
      border-radius: 30px;
    }

    #steps .row > .left, #steps .row > .right{
      background-color:rgba(255, 255, 0, 0.151) ;
      border-radius: 20px;
      position: absolute;
      bottom: 0;
    }

    #steps .row > .right{
      bottom: 0;
      right: 0;
    }

    #steps .row {
      height: 634px;
      position: relative;
    }
     
    #steps .row > .central{
      position: absolute;
      left: 333px;
      background-color:rgba(255, 255, 0, 0.151) ;
      border-radius: 20px;
    }

    #steps .row{
      background-color: white;
    }

    #why .row > .first, #why .row > .second, #why .row > .third{
      background-color: rgba(51, 51, 51, 0.13);
      float: left;
      width: 33.3%;
      height: 420px;
      border-top: 2px solid black;
    }

    #why .row{
      background-color: white;
    }




  



}
